# Android/IntelliJ
*.iml
.gradle
local.properties
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx

# Build outputs (Important to ignore these!)
**/build/
**/intermediates/
**/outputs/
**/tmp/

# App-specific
service-account.json
backend/service-account.json
backend/uploads/
*.log

# Project backups
*.bak
*.swp
